name: Release solution

on:
  workflow_dispatch:
  push:
    paths: ['src/**', '.github/workflows/**', 'msgraph-cli-core.sln']

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MS_NUGET_URL: https://nuget.pkg.github.com/microsoft/index.json
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup .NET Core SDK 6
        uses: actions/setup-dotnet@v3.0.1
        with:
          dotnet-version: 6.x
      - name: Add NuGet kiota source
        # NOTE: Password encryption is not supported for the linux platform (Encryption is only supported on Windows platforms.)
        run: |
          dotnet nuget add source ${{env.MS_NUGET_URL}} -n ms-gh -u ${{secrets.NUGET_USER}} -p ${{secrets.NUGET_PASSWORD}} --store-password-in-clear-text
      - uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          # Look to see if there is a cache hit for the corresponding requirements file
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget
      - name: Install dependencies
        run: dotnet restore
      - name: Test
        run: dotnet test --no-restore
      - id: publish
        name: Publish
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: dotnet publish --no-restore --verbosity normal -c Release
      - id: pack
        name: Pack
        if: ${{ steps.publish.outcome == 'success' }}
        run: dotnet pack --no-restore --no-build --verbosity normal -c Release
      - name: Upload Nuget Package
        if: ${{ steps.pack.outcome == 'success' }}
        uses: actions/upload-artifact@v3
        with:
          name: drop
          path: |
            ./src/Microsoft.Graph.Cli.Core/bin/Release/*.nupkg
  deploy:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v3.0.1
        with:
          dotnet-version: 6.x
      - uses: actions/download-artifact@v3
        with:
          name: drop
      - run: dotnet nuget push "*.nupkg" --skip-duplicate -s https://nuget.pkg.github.com/microsoftgraph/index.json -k ${{ secrets.GITHUB_TOKEN }}
